"# TODO: Copiar los ontenidos de https://github.com/github/gitignore/blob/master/Java.gitignore" 
# Ignora todos los archivos en el directorio target en los proyectos creados con maven
target/classes
target/maven-archiver
target/surefire-reports
target/test-classes
target/psp1-1.0-SNAPSHOT.jar
target/dependency/bcel-5.2.jar
target/dependency/jakarta-regexp-1.4.jar
target/dependency/jetty-continuation-7.6.0.v20120127.jar
target/dependency/jetty-http-7.6.0.v20120127.jar
target/dependency/jetty-io-7.6.0.v20120127.jar
target/dependency/jetty-security-7.6.0.v20120127.jar
target/dependency/jetty-server-7.6.0.v20120127.jar
target/dependency/jetty-servlet-7.6.0.v20120127.jar
target/dependency/jetty-util-7.6.0.v20120127.jar
target/dependency/junit-3.8.1.jar
target/dependency/servlet-api-2.5.jar